ALTER TABLE users MODIFY COLUMN role ENUM('admin', 'faculty', 'hod', 'dean', 'staff') NOT NULL; ALTER TABLE users ADD COLUMN school_id INT(11) NULL DEFAULT NULL AFTER department_id; ALTER TABLE users ADD CONSTRAINT fk_users_school_id FOREIGN KEY (school_id) REFERENCES schools(school_id) ON DELETE SET NULL; UPDATE users SET role = 'dean', school_id = 1 WHERE employee_id = 6001; DELETE FROM dean_assignments WHERE employee_id = 6001; INSERT INTO dean_assignments (school_id, employee_id, start_date, appointment_order) VALUES (1, 3001, '2026-03-01', 'APT/2026/DEAN/SOE/002');
